body{
	background-color: #2e414a;
	/* width: fit-content; */
}
	
div{
   width: 1000px;
   height: 450px;
   margin-top: 65px;
   margin-left: auto;
   margin-right: auto;
   background: #61757f;
   padding: 50px;
   box-shadow: 5px 5px 19px;
   /* box-sizing: border-box; */
}

img{
    max-width: 100%;
    width:500px;
    max-height: 100%;
    float: right;
    margin-left: 32px;
	/* position: relative; */
	/* left: 829px; */
}

h1{	
/* margin-top: 20px; */	
   font-size: 30px;
   margin-top: 0;
   position: relative;
   top: 50px;
}

span{
    color: darkkhaki;
    text-transform: uppercase;
    text-shadow: 5px 5px 12px #b59999b8;
}

p{
  font-size: 15px;
  color: white;
  line-height: 1.5;
  position: relative;
  top: 60px;
  text-align: justify;
}
